<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <header class="header">
            <div class="row">
                <div class="header__logo col-6">
                    <img src="{{ asset('assets/images/logo-dark.png') }}" alt="logo">
                </div>
                <div class="header__nav col-6">
                    <div class="text-right">
                        <a class="header__logout" href="{{ path('logout') }}" title="{{ 'app.header.logout'|trans }}">{{ 'app.header.logout'|trans }}</a>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
